@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');


html{
  scroll-behavior: smooth;
}
body
  {
    margin:0;
    font-family:'Gentium Book Basic', serif;
  }  
  nav li 
  {
    display:inline;
    padding-right: 20px;
    float: right;  
    margin-right: 20px;
   }

   #About{
       margin-top: 40px;
       color:whitesmoke;
   }

  nav li a
  {
    text-decoration:none;
    color:black;
    font-size:25px;
    transition: 500ms;
  }

  nav li :hover{
    color:red;
  }

  nav img{
      height: 30px;
      width: 30px;
  }

  nav ul{
    list-style-type:none;
    position:fixed;
    z-index: 999;
    padding: 0;
    background-color: white;
    width: 100vw;
    height: 5vh;
    padding-top: 6px;
    margin-top: 0;
    top:0;
  }

  .big{
    font-size: 50px;
  }


  .video{
    max-width: 66vw;
    height: auto;
    max-height: 720px;
  }

  .grid{
    display: grid;
    grid-template-columns: 70vw auto;
  }

  .right{
    text-align: left;
  }
  .vid{
    margin-left: 20px;
  }

  .button{
    background-color: rgb(213, 79, 79);
    border-radius: 3%;
    border: red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 1s;
  }

  .ani{
    transition: ease-in 3s;
  }

  #foot{
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }

  .button:hover{
    
    background-color: white;
    color: rgb(213, 79, 79);
  }

  .bold{
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  #welcome-section{
    min-height:100vh; 
    width: auto;
    background-image: url('Photos/welcome.gif');
    height: auto;
    background-repeat: repeat;
    background-size:cover;
    color: white;
  }

  .intro{
    padding: 40px 40px;
    width:33vw
  }

  .intro h1{
    font-size:35px;
  }
  img{
    width:25%;
  }

  #projects{
      text-align: center;
      background-color: white;
      
  }

  .flex{
    display: flex;
    justify-content: center;
  }

  .right{
    margin-left: 10px;
  }

  
  .project-tile{
  padding:20px;
  }
  .contact{
    text-align: center;  
    background: #3A1C71;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    background-repeat: no-repeat;
    background-size:cover;
    display:grid;
  }
  .contact img{
    width:150px;
    transition: 1s;
    height: 150px;
  }
  .contact img:hover{
    width:170px;
    height: 170px;
  }
  .contact ul{
    list-style-type:none;
    position:relative;
    left:0%
  }
  .contact li{
   display:inline-block;
    padding:30px;
    padding-top:3px;
    
  }

  .others{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    gap: 2vw;
  }

  .container {
    position: relative;
    width: 25vw;
    align-items: center;
    align-self: center;
    margin-left: 3vw;
    }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 40vh;
    transition: .5s ease;
    backface-visibility: hidden;

      border: black solid 2px;
      border-radius: 2%;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: rgb(213, 79, 79);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  
  @media(max-width:700px){

    .grid{
      grid-template-columns: auto;
    }

    .others{
      grid-template-columns: auto;
      grid-template-rows: auto;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      gap: 2vw;
    }

    .container {
      margin-left: 22vw;
      width: 50vw;
      }

    .video{
      max-width: 95vw;
    }

    .right{
      text-align: center;
    }

    ul{
      position:relative;
      left:0;
    }
  }